# Basic Server Configuration
<VirtualHost 97.107.128.144:80>
SuexecUserGroup "#514" "#506"
ServerName ansible.rhdemo.ca
ServerAlias rhdemo.ca
SSLEngine off
DocumentRoot "/opt/rh/httpd24/root/var/www/rhdemo"
ErrorLog /opt/rh/httpd24/root/var/log/rhdemo_error_log
CustomLog /opt/rh/httpd24/root/var/log/rhdemo_access_log combined
DirectoryIndex index.html index.htm index.php index.php4 index.php5
RewriteEngine on

RedirectMatch ^/$ {{ workshop_url }}

# Student Wetty Configuration
#Comment

{% for num,ip in workshop_students %}
RewriteCond %{REQUEST_URI}  ^/ssh/student{{num}}/socket.io [NC]
RewriteCond %{QUERY_STRING} transport=websocket [NC]
RewriteRule /ssh/student{{num}}/socket.io/(.*) ws://localhost:{{num + 8000}}/ssh/student{{num}}/socket.io/$1 [P,L]

<LocationMatch ^/ssh/student{{num}}(.*)>
  DirectorySlash On
  Require all granted
  ProxyPass  http://127.0.0.1:{{8000 + num}}
  ProxyPassReverse /ssh/student{{num}}
</LocationMatch>

<LocationMatch ^/student{{num}}(.*)>
  DirectorySlash On
  Require all granted
  ProxyPass  http://student{{num}}.{{workshop_url|urlsplit('hostname')}}:8080
  ProxyPassReverse /student{{num}}
</LocationMatch>

{% endfor %}

# Etherpad Configuration

<Directory /opt/rh/httpd24/root/var/www/rhdemo>
<FilesMatch \.php$>
SetHandler "proxy:fcgi://127.0.0.1:9001"
</FilesMatch>
Require all granted
AllowOverride All Options=ExecCGI,Includes,IncludesNOEXEC,Indexes,MultiViews,SymLinksIfOwnerMatch
</Directory>
</VirtualHost>
